/* Temporary sprite backgrounds */
.sprite-bg-1 {
  background-color: rgba(30, 30, 30, 0.6);
}
.sprite-bg-2 {
  background-color: rgba(35, 35, 35, 0.6);
}
.sprite-bg-3 {
  background-color: rgba(40, 40, 40, 0.6);
}
.sprite-bg-4 {
  background-color: rgba(45, 45, 45, 0.6);
}
